canvas {
  margin-left: 10px;
}

.wrapper {
  margin-top: 100px;
  width: 100%;
}

.tipar {
  float: left;
}

.form-tipar {
  width: 30%;
}

.canvas-tipar {
  width: 70%;
}

.form-control {
  width: 100px;
}
