<section class="image-section">
    <div class="image parallax bg1" >
        <h1>Bun venit pe pagina Adnana!</h1>
    </div>
    <div class="image static text" >
        <h2>Acestă pagină este dedicată tuturor pasionaților de croitorie și nu numai!</h2>
        <div>Vă oferim o aplicație care permite generarea tiparelor de croitorie pentru cele 3 tipuri principale de fuste:
        <ul>
            <li>fusta dreaptă</li>
            <li>fusta cloș</li>
            <li>fusta în 6 clini</li>
        </ul>
    </div>
        
    </div>
    <div class="image parallax bg2" >
        <div class="text">
            Aplicația este ușor de folosit și constă din 4 pași importanți:
        <ul>
            <li>introducerea unei imagini</li>
            <li>prelucrarea modelului în 3D</li>
            <li>editarea tiparului clasic generat automat</li>
            <li>trimiterea prin email către un plotter cutter</li>
        </ul>
    </div>
        <div class="text-center">
        <div>Pentru a facilita înțelegerea utilizării funcționalităților, venim în sprijin cu un tutorial video:</div>
        <div>
            <video width="320" height="240" controls>
                <source src="../../assets/tutorial.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
       </div>
    </div>
    <div class="details">Această aplicație este făcută cu drag pentru oamenii care cred în visurile lor și luptă indiferent de vârstă!</div>
</section>