$background: #d0d0d0;
$bkg-img: url("src/assets/6.jpg");
$bk1-img: url("src/assets/da.jpg");
$bk2-img: url("src/assets/a2.jpg");
$white: #e9e9e9;
$grey: #333;
$primary: #aca1a1e1;
$lighter: #eeeeeeb7;
$button-radius: 0.7rem;
$max-width: 758px;
$max-height: 420px;
$width-nav: 160px;
