.space {
  float: left;
  margin-top: 70px;
  height: 100%;
  // width: 100%;
}

.menu-wrapper {
  margin-left: 10px;
  width: 100%;
}

.start-end-op {
  margin-left: 10px;
}

.inputs-numbers {
  width: 50px;
}

.coords {
  width: 150px;
}

img {
  // width: 250px;
  height: 250px;
}

.modal-body {
  width: 100%;
}

.img {
  width: 50%;
  float: left;
}
