@import "../../styles/variables";

.space {
  float: left;
  margin-top: 87px;
  padding-left: 20px;
  height: 100%;
  // width: 100%;
}

// .form-check {
//   text-align: center;
//   width: 11%;
// }

.menu-wrapper {
  margin-left: 30px;
  width: 100%;
}

.start-end-op {
  // margin-left: 10px;
  width: 80%;
  text-align: center;
}

.see-seam-no {
  margin-right: 10px;
  // width: 70%;
}
.inputs-numbers {
  width: 50px;
  height: 25px;
  font-size: 10px;
  margin-bottom: 5px;
}

.btn-add-point {
  width: 110%;
}

.label-stergere {
  margin-top: -9px !important;
}

.coords {
  width: 150px;
}

img {
  // width: 250px;
  height: 250px;
}

.modal-body {
  width: 100%;
}

.img {
  width: 50%;
  float: left;
}

.info {
  padding: 10px;
}

svg {
  margin-bottom: 10px;
}

label {
  color: $primary;
  font-size: 0.8rem;
}

.btn-add,
.btn-modal {
  background-color: $primary;
  border-radius: 15px;
  border: 1px solid $primary;
  color: white;
  font-size: 0.8rem;
  // font-weight: bold;
  transition: transform 80ms ease-in;
  position: relative;
  border-radius: 2px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  // margin-bottom: 5px;
  // margin-top: 5px;
  margin: 5px;
}

.btn-add:active,
.btn-modal:active {
  transform: scale(0.75);
}

.btn-add:focus,
.btn-modal:focus {
  outline: none;
}
